/*******************************************************************************
********************************************************************************
                    Design for 360px x 640 px (Portrait)
********************************************************************************
****************************************************************************** */
body {
  margin: 0;
  font-family: Poppins, sans-serif; /*TODO: work on the default font ...*/
  /*font-size: 14px;
  /* font-weight: 300;*/
  line-height: 1.625em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins, sans-serif;
  margin-top: 0;
  line-height: 1.2em;
}
@media (max-width: 375px) and (orientation: portrait) {
  body {
    background-color: orchid;
    /* background-color: #97726e; */
    display: flex;
    flex-direction: column;
  }
  .main-header {
    height: 76px;
    /* background-color: #371c2c; */
    background-color: white;
    color: #97846e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
  }
  .main-header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .main-header nav .logo .logo-image {
    width: 80%;
  }
  /* Home Section */
  .home {
    height: 100vh;
    background-image: linear-gradient(
      0deg,
      rgb(98, 189, 252) 0%,
      rgb(132, 144, 255) 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .home > * {
    text-align: center;
  }

  .home .img-container {
    width: 40%;
    margin-bottom: 0.5em;
  }

  .home .img-container .img-fluid {
    width: 100%;
    height: auto;
    display: block;
    /* margin-right: auto!important;
    margin-left: auto!important;
    display: block; */
  }
  .home h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 100;
  }
  .home h1 .second-line {
    display: block;
    margin-top: 0.5em;
  }
  /* Services Section */
  .services {
    background-color: white;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 120px;
  }
  .services .service-project-management {
    display: flex;
    flex-direction: column;
  }
  .services > h1 {
    text-align: center;
    font-size: 2.25em;
    font-weight: 600;
    padding-bottom: 70px;
  }
  .services-picture {
    align-self: flex-end;
    padding-bottom: 1em;
    /* justify-self: flex-end;*/
  }
}

.uppercase {
  text-transform: uppercase;
}
.text-white {
  color: #fff;
}
.highlight {
  font-weight: 700;
}
#home .banner-paragraph {
  font-size: 1.2em;
}
h1 .highlight {
  font-weight: 700;
}
/*******************************************************************************
********************************************************************************
                    Others
********************************************************************************
****************************************************************************** */

/* @media (min-width: 361px) and (max-width: 375px)  {
  body {
    background-color: blue;
  }
} */

@media (min-width: 376px) and (max-width: 768px) /*and (orientation: portrait) */ {
  body {
    background-color: orange;
  }
}

@media (min-width: 769px) and (max-width: 1366px) {
  body {
    background-color: green;
  }
}

@media (min-width: 1367px) {
  body {
    background-color: yellow;
  }
}
